@using MoviePro.Models.TMDB
@model ActorDetail


<div class="row row-cols-1 row-cols-md-2 actor-detail">
    <div class="col">
        <div>
            <img src="@Model.profile_path" class="img-fluid" alt="@Model.profile_path image" />
        </div>
    </div>
    <div class="col">
        <div class="row p-3">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">Name:</span> @Model.name
            </div>
        </div>
        <div class="row p-3">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">Birthday:</span> @Model.birthday
            </div>
        </div>
        <div class="row p-3">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">Place of Birth:</span> @Model.place_of_birth
            </div>
        </div>

        <div class="row p-3">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">Biography:</span> @Model.biography
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
